    <!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">


    <title>Xem danh sách phòng trọ</title>

</head>
<style>



    /*body {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    min-height: 100vh;*/
    /*    background: #ffffff;*/
    /*    flex-direction: column;*/
    /*}*/

    /*.custom-wrapper {*/
    /*    margin: 0;*/
    /*    width: 70%;*/
    /*    padding: 0px 25px 40px;*/
    /*    position: relative;*/
    /*    left: 63px;*/
    /*}*/


    /* Styles for the price input container */
    .price-input-container {
        width: 100%;
    }

    .price-input .price-field {
        display: flex;
        margin-bottom: 22px;
    }

    .price-field span {
        margin-right: 10px;
        margin-top: 6px;
        font-size: 17px;
    }

    .price-field input {
        flex: 1;
        height: 35px;
        font-size: 15px;
        font-family: "DM Sans", sans-serif;
        border-radius: 9px;
        text-align: center;
        border: 0px;
        background: #e4e4e4;
    }

    .price-input {
        width: 100%;
        /*font-size: 19px;*/
        color: #555;
    }

    /*!* Remove Arrows/Spinners *!*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .slider-container {
        width: 100%;
    }

    .slider-container {
        height: 6px;
        position: relative;
        background: #e4e4e4;
        border-radius: 5px;
    }

    .slider-container .price-slider {
        height: 100%;
        position: absolute;
        border-radius: 5px;
        background: #3F7D36;
    }

    /* Set the left and right positions dynamically using JavaScript */
    .slider-container .price-slider.left {
        left: ${minPrice}%;
    }

    .slider-container .price-slider.right {
        right: ${maxPrice}%;
    }


    .range-input {
        position: relative;
    }

    .range-input input {
        position: absolute;
        width: 100%;
        height: 5px;
        background: none;
        top: -5px;
        pointer-events: none;
        cursor: pointer;
        -webkit-appearance: none;
    }

    /*!* Styles for the range thumb in WebKit browsers *!*/
    input[type="range"]::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 70%;
        background: #555;
        pointer-events: auto;
        -webkit-appearance: none;
    }

    .input-number .change-button.plus{
        display: none;
    }
    .input-number .change-button.minus{
        display: none;
    }
    .mark-circle{
        display: none;
    }
    .rounded-circle {
        display: inline-block;

        background-color: #F6F6F4 !important; /* Đặt màu nền mong muốn */
        border-radius: 50%; /* Chuyển thành hình tròn */
    }
    .rounded-circle:hover {
        background-color: #F6F6F4 !important; /* Giữ màu nền khi hover */
    }


</style>
<body>
<div class="page-wrapper">

    <div th:replace="~{header :: headerSection}"></div>
    <!--end page-header-->

    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Danh sách phòng trọ</li>

            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>Tìm kiếm</h2>
                            <form id="form-filter" class="labels-uppercase" method="get" th:action = "@{/roomlist(page=1)}">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="roomName" th:value ="${roomName}" id="roomName" placeholder="Nhập tên trọ hoặc tên phòng">
                                </div>
                                <div class="center">
                                    <a href="#filter-advanced-search" class="link icon collapsed" data-toggle="collapse"
                                       aria-expanded="false" aria-controls="filter-advanced-search" id="toggleLink"  onclick="changeText()">
                                        Thêm +</a>

                                </div>
                                <div class="collapse" id="filter-advanced-search" aria-expanded="false">
                                    <div class="wrapper">
                                        <section>
                                            <h3>Giá phòng (triệu đồng/tháng)</h3>
                                            <div class="custom-wrapper">



                                                <div class="price-input-container">
                                                    <div class="price-input">
                                                        <div class="price-field">
                                                            <table style="width: 100%">
                                                                <tr>
                                                                    <td><span>Từ: </span></td>
                                                                    <td><input type="number" name="minPrice"
                                                                               class="min-input"
                                                                               th:value="${minPrice}" style="margin-bottom: 10px"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td><span>Đến: </span></td>
                                                                    <td><input type="number"
                                                                               class="max-input" name="maxPrice"
                                                                               th:value="${maxPrice}" style="margin-bottom: 10px"></td>
                                                                </tr>

                                                            </table>

                                                        </div>

                                                    </div>
                                                    <div class="slider-container">
                                                        <div class="price-slider">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Slider -->
                                                <div class="range-input">
                                                    <input type="range"
                                                           class="min-range"
                                                           min="0"
                                                           max="10"
                                                           th:value="${minPrice}"
                                                           step="1">

                                                    <input type="range"
                                                           class="max-range"
                                                           min="0"
                                                           max="10"
                                                           th:value="${maxPrice}"
                                                           step="1">

                                                </div>
                                            </div>

                                            <!--end checkboxes-->
                                        </section>
                                        <!--end section-->
                                        <section>
                                            <h3>Loại phòng</h3>
                                            <ul class="checkboxes">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" name="type" value="1" th:checked="${#arrays.contains(type, '1')}">Phòng đơn
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" name="type" value="2" th:checked="${#arrays.contains(type, '2')}">Phòng đôi
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" name="type" value="3" th:checked="${#arrays.contains(type, '3')}">Khác
                                                    </label>
                                                </li>
                                            </ul>

                                            <div class="collapse" id="all-property-types">
                                                <ul class="checkboxes">
<!--                                                    <li><label><input type="checkbox" name="ski-center">Ski Center</label></li>-->
<!--                                                    <li><label><input type="checkbox" name="cottage">Cottage</label></li>-->
<!--                                                    <li><label><input type="checkbox" name="hostel">Hostel</label></li>-->
<!--                                                    <li><label><input type="checkbox" name="boat">Boat</label></li>-->
                                                </ul>
                                            </div>
                                            <!--end checkboxes-->
<!--                                            <a href="#all-property-types" class="link" data-toggle="collapse" aria-expanded="false" aria-controls="all-property-types">Show all</a>-->
                                        </section>

                                    </div>
                                    <!--end filter-advanced-search-->
                                </div>
                                <!--end collapse-->
                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-rounded form-control" id="search-button" style="border-radius: 5px">Tìm kiếm</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-9">
                    <div class="main-content">
                        <div class="title">
                            <h1>Danh sách phòng trọ</h1>

                        </div>
                        <!--end title-->
                        <div class="row">
                            <div class="col-md-4 col-sm-6" th:each = "room: ${rooms}">
                                <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="1" >
<!--                                    <div class="ribbon"><div class="offer-number">20%</div><figure>Off Today!</figure></div>-->
                                    <div class="item-wrapper">
                                        <div class="image">
<!--                                            <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>-->
<!--                                            <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>-->
<!--                                            <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>-->

                                            <div th:if="${room.roomImages != null && room.roomImages.size() > 1}">
                                                <a href="" class="wrapper">
                                                    <div class="gallery" >
                                                        <img style="width: 273px; height: 208px;" th:each = "image: ${room.roomImages}" th:src="'https://storage.googleapis.com'+${image}" alt="">

                                                    </div>
                                                </a>
                                                <div class="owl-navigation"></div>
                                            </div>
                                            <div th:if="${room.roomImages != null && room.roomImages.size() == 1}">
                                                <img style="width: 273px; height: 208px;" th:src="'https://storage.googleapis.com'+${room.roomImages.get(0)}" alt="">
                                            </div>
                                            <!--end owl-navigation-->
                                        </div>
                                        <!--end image-->
                                        <div class="description">
                                            <div class="info">
                                                <figure class="label label-info" th:text="${room.roomType}"></figure>
                                                <a th:href="@{/house/}+${room.houseName}+'/room/'+${room.roomId}"><h3 th:text="${room.roomName}"></h3></a>
                                                <figure class="location" th:text="${room.houseName}"></figure>
                                                <figure style="font-weight: bold; color: red" th:with="formattedPrice=${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}"> <span th:text="${formattedPrice + ' VND'}"></span> </figure>
                                            </div>
                                        </div>
                                        <!--end description-->
                                        <div class="map-item">
                                            <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                            <div class="map-wrapper"></div>
                                        </div>
                                        <!--end map-item-->
                                    </div>
                                </div>
                                <!--end item-->
                            </div>
                            <!--col-md-3-->


                        </div>
                        <!--end row-->
                        <th:block th:if="${totalPage != 0}">
                        <div class="center">
                            <ul class="pagination">
                                <li class="prev">
                                    <a th:href="@{/roomlist?page=} +${currentPage - 1} + '&price=' + ${#strings.arrayJoin(price, ',')} + '&type=' + ${#strings.arrayJoin(type, ',')}" th:if="${currentPage != 1}">
                                        <i class="arrow_left"></i>
                                    </a>
                                </li>
                                <li th:if="${currentPage > 2}">
                                    <a th:href="@{/roomlist?page=} + '1' + '&price=' + ${#strings.arrayJoin(price, ',')} + '&type=' + ${#strings.arrayJoin(type, ',')}" th:text="1" class="page-number">1</a>
                                </li>

                                <li th:if="${currentPage > 3}" style="pointer-events: none">
                                    <span style="border: none;background-color: unset">...</span>

                                </li>
                                <li th:each="pageIndex: ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                                    th:unless="${pageIndex < 1 || pageIndex > totalPage}"
                                    th:class="${pageIndex == currentPage ? 'active' : ''}">
                                    <a th:href="@{/roomlist?page=} + ${pageIndex} + '&price=' + ${#strings.arrayJoin(price, ',')} + '&type=' + ${#strings.arrayJoin(type, ',')}"
                                       th:text="${pageIndex}" class="page-number"></a>
                                </li>

                                <li th:if="${currentPage < totalPage - 2}" style="pointer-events: none">
                                    <span style="border: none;background-color: unset">...</span>

                                </li>
                                <li th:if="${currentPage <= totalPage - 2}">
                                    <a th:text="${totalPage}"
                                       th:href="@{/roomlist?page=} + ${totalPage} + '&price=' + ${#strings.arrayJoin(price, ',')} + '&type=' + ${#strings.arrayJoin(type, ',')}"
                                       class="page-number">${totalPage}</a>
                                </li>
                                <li class="next">
                                    <a th:href="@{/roomlist?page=} + ${currentPage + 1} + '&price=' + ${#strings.arrayJoin(price, ',')} + '&type=' + ${#strings.arrayJoin(type, ',')}" th:if="${currentPage != totalPage}">
                                        <i class="arrow_right"></i>
                                    </a>
                                </li>


                            </ul>
                            <!-- end pagination-->
                        </div>
                        </th:block>

                        <!--end center-->
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    <div th:replace="~{footer :: footerSection}"></div>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>


<script>
    // Script.js
    const rangevalue =
        document.querySelector(".slider-container .price-slider");
    const rangeInputvalue =
        document.querySelectorAll(".range-input input");

    // Set the price gap
    let priceGap = 1;

    // Adding event listners to price input elements
    const priceInputvalue =
        document.querySelectorAll(".price-input input");
    for (let i = 0; i < priceInputvalue.length; i++) {
        priceInputvalue[i].addEventListener("input", e => {

            // Parse min and max values of the range input
            let minp = parseInt(priceInputvalue[0].value);
            let maxp = parseInt(priceInputvalue[1].value);
            let diff = maxp - minp

            if (minp < 0) {
                alert("minimum price cannot be less than 0");
                priceInputvalue[0].value = 0;
                minp = 0;
            }

            // Validate the input values
            if (maxp > 10) {
                alert("maximum price cannot be greater than 10");
                priceInputvalue[1].value = 10;
                maxp = 10;
            }

            if (minp > maxp - priceGap) {
                priceInputvalue[0].value = maxp - priceGap;
                minp = maxp - priceGap;

                if (minp < 0) {
                    priceInputvalue[0].value = 0;
                    minp = 0;
                }
            }

            // Check if the price gap is met
            // and max price is within the range
            if (diff >= priceGap && maxp <= rangeInputvalue[1].max) {
                if (e.target.className === "min-input") {
                    rangeInputvalue[0].value = minp;
                    let value1 = rangeInputvalue[0].max;
                    rangevalue.style.left = `${(minp / value1) * 100}%`;
                }
                else {
                    rangeInputvalue[1].value = maxp;
                    let value2 = rangeInputvalue[1].max;
                    rangevalue.style.right =
                        `${100 - (maxp / value2) * 100}%`;
                }
            }
        });

        // Add event listeners to range input elements
        for (let i = 0; i < rangeInputvalue.length; i++) {
            rangeInputvalue[i].addEventListener("input", e => {
                let minVal =
                    parseInt(rangeInputvalue[0].value);
                let maxVal =
                    parseInt(rangeInputvalue[1].value);

                let diff = maxVal - minVal

                // Check if the price gap is exceeded
                if (diff < priceGap) {

                    // Check if the input is the min range input
                    if (e.target.className === "min-range") {
                        rangeInputvalue[0].value = maxVal - priceGap;
                    }
                    else {
                        rangeInputvalue[1].value = minVal + priceGap;
                    }
                }
                else {

                    // Update price inputs and range progress
                    priceInputvalue[0].value = minVal;
                    priceInputvalue[1].value = maxVal;
                    rangevalue.style.left =
                        `${(minVal / rangeInputvalue[0].max) * 100}%`;
                    rangevalue.style.right =
                        `${100 - (maxVal / rangeInputvalue[1].max) * 100}%`;
                }
            });
        }
    }
    // Inside the updateSliderPositions function
    function updateSliderPositions() {
        let minVal = parseInt(rangeInputvalue[0].value);
        let maxVal = parseInt(rangeInputvalue[1].value);

        let value1 = rangeInputvalue[0].max;
        let value2 = rangeInputvalue[1].max;

        rangevalue.style.left = `${(minVal / value1) * 100}%`;
        rangevalue.style.right = `${100 - (maxVal / value2) * 100}%`;

        // Add or remove classes based on minPrice and maxPrice values
        rangevalue.classList.remove('left', 'right');
        rangevalue.classList.add('left');
    }

    // Call the function to update slider positions initially
    updateSliderPositions();


</script>
<script>
    function changeText() {
        var link = document.getElementById("toggleLink");

        // Kiểm tra xem lớp collapsed có tồn tại hay không
        if (link.classList.contains("collapsed")) {
            // Nếu có, thay đổi nội dung thành "Ẩn bớt" hoặc bất kỳ văn bản nào bạn muốn
            link.innerHTML = "Ẩn bớt";
        } else {
            // Ngược lại, chuyển về văn bản ban đầu "Thêm"
            link.innerHTML = "Thêm +";
        }
    }

</script>

<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="/assets/js/ie.js"></script>
<![endif]-->
</body>
