<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>List Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <!-- third party css -->
    <link th:href="@{/assets_admin/libs/datatables/dataTables.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/libs/datatables/buttons.bootstrap4.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/libs/datatables/responsive.bootstrap4.css}" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link th:href="@{/assets_admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/app.min.css}" rel="stylesheet" type="text/css"/>
    <title>Danh Sách Báo Cáo</title>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <div th:replace="admin/header_admin :: admin_topbar"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a th:href="@{/admin/newsList/insert}">Thống kê</a></li>
                                <li class="breadcrumb-item active">Quản lý báo cáo</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Quản lý báo cáo</h4>
                    </div>
                </div>
            </div>
            <div class="row">
            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">
<!--                            <div class="d-flex justify-content-end">-->
<!--                                <button class="btn btn-success mb-1 "><a th:href="@{/room/insertRoomPage}"-->
<!--                                                                         style="color: white">Thêm phòng mới</a></button>-->
<!--                            </div>-->
                            <table id="datatable-buttons"
                                   class="table table-striped table-bordered dt-responsive nowrap"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Miêu tả vấn đề</th>
                                    <th>Tình trạng</th>
                                    <th>Tên Trọ </th>
                                    <th>Email</th>
                                    <th>
                                        Thay Đổi Trạng Thái
                                    </th>
                                    <th>Ngày Tạo</th>
                                    <th>Ngày Giải Quyết</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="reportList : ${reportList}">
                                    <td th:text="${reportList.reportId}">
                                    </td>

                                    <td th:text="${reportList.reportDescription}">
                                    </td>

                                    <td th:text="${reportList.reportStatus}">
                                    </td>
                                    <td th:text="${reportList.houseName}">
                                    </td>
                                    <td th:text="${reportList.email}">
                                    </td>
                                    <td>
                                        <li class="dropdown notification-list list-unstyled">
                                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

                                                <span class="ml-1" th:text="${reportList.reportStatus}" th:style="${reportList.reportStatus == 'Chờ Xử Lý' ? 'color: #eea236;' : (reportList.reportStatus == 'Đang Xử Lý' ? 'color: #4cae4c;' : 'color:#6c757d')}">
                                                    Thay Đổi Trạng Thái <i class="mdi mdi-chevron-down"></i> </span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">


                                                <!-- item-->
<!--                                                javascript:void(0);-->
                                                <a th:href="@{/waiting?id={id}(id=${reportList.reportId})}" class="dropdown-item notify-item">
                                                    <i class="fe-user"></i>
                                                    <span style="color: #eea236;">Chờ Xử Lý</span>
                                                </a>
                                                <a th:href="@{/handle?id={id}(id=${reportList.reportId})}" class="dropdown-item notify-item">
                                                    <iconify-icon icon="tdesign:load"></iconify-icon>
                                                    <span style="color: #4cae4c;" >Đang Xử Lý</span>
                                                </a>
                                                <a th:href="@{/processed?id={id}(id=${reportList.reportId})}" class="dropdown-item notify-item">
                                                    <iconify-icon icon="material-symbols:done"></iconify-icon>
                                                    <span >Đã Xử Lý</span>
                                                </a>

                                                <!-- item-->
                                                <!--                <a href="javascript:void(0);" class="dropdown-item notify-item">-->
                                                <!--                    <i class="fe-settings"></i>-->
                                                <!--                    <span>Settings</span>-->
                                                <!--                </a>-->

                                                <!-- item-->


<!--                                                <div class="dropdown-divider"></div>-->

<!--                                                &lt;!&ndash; item&ndash;&gt;-->
<!--                                                <a href="javascript:void(0);" class="dropdown-item notify-item">-->
<!--                                                    <i class="fe-log-out"></i>-->
<!--                                                    <span>Logout</span>-->
<!--                                                </a>-->

                                            </div>
                                        </li>
                                    </td>
                                    <td th:text="${#temporals.format(reportList.getCreatedDate(), 'dd/MM/yyyy')}">
                                    </td>
                                    <td th:text="${#temporals.format(reportList.getSolvedDate(), 'dd/MM/yyyy')}">
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- end container-fluid -->

        </div> <!-- end content -->
        </div>

        <!-- Footer Start -->
        <div th:replace="admin/footer_admin :: admin_footer"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script th:src="@{/assets_admin/js/vendor.min.js}"></script>

<!-- Required datatable js -->
<script th:src="@{/assets_admin/libs/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets_admin/libs/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/assets_admin/libs/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/assets_admin/libs/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/assets_admin/libs/jszip/jszip.min.js}"></script>
<script th:src="@{/assets_admin/libs/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/assets_admin/libs/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/assets_admin/libs/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/assets_admin/libs/datatables/buttons.print.min.js}"></script>

<!-- Responsive examples -->
<script th:src="@{/assets_admin/libs/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets_admin/libs/datatables/responsive.bootstrap4.min.js}"></script>

<!-- Datatables init -->
<script th:src="@{/assets_admin/js/pages/datatables.init.js}"></script>

<!-- App js -->
<script th:src="@{/assets_admin/js/app.min.js}"></script>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>


</body>
</html>