<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chỉnh sửa slider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets_admin/images/favicon.ico}">

    <!-- App css -->
    <link th:href="@{/assets_admin/libs/dropzone/dropzone.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/app.min.css}" rel="stylesheet" type="text/css"/>


</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <div th:replace="admin/header_admin :: admin_topbar"></div>


    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/admin/sliderList}">Danh sách slider</a></li>
                                    <li class="breadcrumb-item active">Cập nhật slider</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Cập nhật slider</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg">
                        <div class="card-box">
                            <h4 class="header-title"></h4>


                            <form class="parsley-examples"  id="myForm" th:action="@{/admin/slider/update}" th:object="${slider}" method="post"  enctype="multipart/form-data" >
                                <input type="hidden" th:field = "*{sliderid}">


                                <div class="form-group">
                                    <label>Chủ đề</label>
                                        <input type="text" class="form-control" name="title" required
                                           placeholder="Type something" th:value = "${slider.title}"/>
                                    <div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <div >
                                        <textarea class="form-control" rows="15" name="content" th:text="${slider.content ?: 'Default Value'}" ></textarea>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div >
                                        <select name="status">
                                            <option value="Hoạt động" th:selected="${slider.status == 'Hoạt động'}">Hoạt động</option>
                                            <option value="Không hoạt động" th:selected="${slider.status == 'Không hoạt động'}">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Pictures -->

                                <div class="form-group">
                                    <label>Chọn ảnh</label>
                                    <div class="dropzone" id="myAwesomeDropzone">
                                        <div class="fallback">
                                            <input name="file" type="file"  id="imageInput" onchange="previewImage()" multiple/>
                                        </div>
                                    </div>
                                    <div id="imagePreview">
                                        <img th:src="${slider.imgLink}" alt="Preview Image" style="max-width: 100%; max-height: 200px;"/>
                                    </div>
                                    <div class="image-preview" th:src="${slider.imgLink}"></div>
                                </div>
                                <div class="form-group mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-gradient waves-effect waves-light">
                                            Cập nhật
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect ml-1">
<!--                                            <a th:href="@{/room/listRoomPage}">Danh sách phòng</a>-->
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- end row -->


            </div> <!-- end container-fluid -->

        </div> <!-- end content -->


        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        2017 - 2019 &copy; Abstack theme by <a href="">Coderthemes</a>
                    </div>

                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="mdi mdi-close"></i>
        </a>
        <h5 class="m-0 text-white">Settings</h5>
    </div>
    <div class="slimscroll-menu">
        <hr class="mt-0">
        <h5 class="pl-3">Basic Settings</h5>
        <hr class="mb-0"/>


        <div class="p-3">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                <label class="custom-control-label" for="customCheck1">Notifications</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                <label class="custom-control-label" for="customCheck2">API Access</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Auto Updates</label>
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                <label class="custom-control-label" for="customCheck4">Online Status</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">Auto Payout</label>
            </div>
        </div>

        <!-- Messages -->
        <hr class="mt-0"/>
        <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">24</span></h5>
        <hr class="mb-0"/>
        <div class="p-3">
            <div class="inbox-widget">
                <div class="inbox-item">
                    <div class="inbox-item-img"><img th:src="@{/assets_admin/images/users/avatar-1.jpg}"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Chadengle</a></p>
                    <p class="inbox-item-text">Hey! there I'm available...</p>
                    <p class="inbox-item-date">13:40 PM</p>
                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img th:src="@{/assets_admin/images/users/avatar-2.jpg}"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Tomaslau</a></p>
                    <p class="inbox-item-text">I've finished it! See you so...</p>
                    <p class="inbox-item-date">13:34 PM</p>
                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img th:src="@{/assets_admin/images/users/avatar-3.jpg}"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Stillnotdavid</a></p>
                    <p class="inbox-item-text">This theme is awesome!</p>
                    <p class="inbox-item-date">13:17 PM</p>
                </div>

                <div class="inbox-item">
                    <div class="inbox-item-img"><img th:src="@{/assets_admin/images/users/avatar-4.jpg}"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Kurafire</a></p>
                    <p class="inbox-item-text">Nice to meet you</p>
                    <p class="inbox-item-date">12:20 PM</p>

                </div>
                <div class="inbox-item">
                    <div class="inbox-item-img"><img th:src="@{/assets_admin/images/users/avatar-5.jpg}"
                                                     class="rounded-circle" alt=""></div>
                    <p class="inbox-item-author"><a href="javascript: void(0);">Shahedk</a></p>
                    <p class="inbox-item-text">Hey! there I'm available...</p>
                    <p class="inbox-item-date">10:15 AM</p>

                </div>
            </div> <!-- end inbox-widget -->
        </div> <!-- end .p-3-->

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="/assets_admin/js/vendor.min.js"></script>

<!-- Plugin js-->
<script src="/assets_admin/libs/parsleyjs/parsley.min.js"></script>

<!-- Validation init js-->
<script src="/assets_admin/js/pages/form-validation.init.js"></script>

<!-- App js -->
<script src="/assets_admin/js/app.min.js"></script>
<script>
    function previewImage() {
        var input = document.getElementById('imageInput');
        var preview = document.getElementById('imagePreview');

        // Kiểm tra xem có file được chọn hay không
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            // Đọc URL của hình ảnh
            reader.onload = function (e) {
                preview.innerHTML = '<img src="' + e.target.result + '" alt="Preview Image" style="max-width: 100%; max-height: 200px;"/>';
            };

            // Đọc file như là một URL
            reader.readAsDataURL(input.files[0]);
        } else {
            // Nếu không có file, xóa nội dung xem trước
            preview.innerHTML = '';
        }
    }
</script>
</body>
</html>