<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>Chỉnh sửa tin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon"  th:href="@{/assets/img/favicon.ico}">

    <!-- App css -->
    <link th:href="@{/assets_admin/libs/dropzone/dropzone.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/app.min.css}" rel="stylesheet" type="text/css"/>
    <link href="/assets_admin/css/file-upload.css" rel="stylesheet" type="text/css"/>

    <style>
        #removeImage {
            display: none; /* Ẩn nút xóa ảnh ban đầu */
        }

        #imageContainer {
            display: none; /* Ẩn khối div preview khi không có ảnh */
        }
    </style>


</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <div th:replace="admin/header_admin :: admin_topbar"></div>


    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Thống kê</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/admin/newsList}">Danh sách tin tức</a></li>
                                    <li class="breadcrumb-item active">Cập nhật tin tức</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Cập nhật tin</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-lg">
                        <div class="card-box">
                            <h4 class="header-title"></h4>


                            <form class="parsley-examples"  id="myForm" th:action="@{/admin/news/update}" th:object="${news}" method="post"  enctype="multipart/form-data" >
                                <input name="id" type="hidden" th:field = "*{newsid}">


                                <div class="form-group">
                                    <label>Chủ đề</label>
                                        <input type="text" class="form-control" name="title" required
                                           placeholder="Type something" th:value = "${news.title}"/>
                                    <div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <div >
                                        <textarea class="form-control" rows="15" name="content" required th:text="${news.content ?: 'Default Value'}" ></textarea>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div >
                                        <select name="status" style="padding: 10px">
                                            <option value="Hoạt động" th:selected="${news.status == 'Hoạt động'}" >Hoạt động</option>
                                            <option value="Không hoạt động" th:selected="${news.status == 'Không hoạt động'}">Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Pictures -->


                                <div class="form-group">
                                    <label class="col-form-label">Ảnh</label>
                                    <div>
                                        <div class="file-upload-previews" id="imageContainer">
                                            <div class="MultiFile-label" >
                                                <a class="MultiFile-remove" th:href="@{'/admin/newsList/deleteImage/'+${news.newsid}}" id="removeImage">x</a>
                                                <span class="MultiFile-label" title="File selected: abc.png">
                                                        <img th:src="'https://storage.googleapis.com'+${news.imgLink}" alt="Ảnh" id="imagePreview" style="width: 100px; height: 100px">
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="file-upload">
                                            <input type="file" name="file" id="fileInput" class="file-upload-input with-preview" title="Click to add files" accept="image/*">
                                            <span>Nhấn để thêm ảnh</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-gradient waves-effect waves-light" th:onclick="'confirmUpdate()'" style="border-radius: 5px">
                                            Cập nhật
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect ml-1" style="border-radius: 5px">
                                            <a th:href="@{/admin/newsList}"> Đóng</a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- end row -->


            </div> <!-- end container-fluid -->

        </div> <!-- end content -->


        <!-- Footer Start -->
        <div th:replace="admin/footer_admin :: admin_footer"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="/assets_admin/js/vendor.min.js"></script>

<!-- Plugin js-->
<script src="/assets_admin/libs/parsleyjs/parsley.min.js"></script>

<!-- Validation init js-->
<script src="/assets_admin/js/pages/form-validation.init.js"></script>

<!-- App js -->
<script src="/assets_admin/js/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/assets_admin/libs/dropzone/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/assets/js/jQuery.MultiFile.min.js"></script>


<script>
    $(document).ready(function () {
        // Kiểm tra nếu có đường dẫn ảnh sẵn có trong cơ sở dữ liệu
        var existingImage = $('#imagePreview').attr('src');

        if (existingImage && existingImage.length > 0) {
            // Hiển thị nút xóa ảnh và khối div preview
            $('#removeImage').show();
            $('#imageContainer').show();
        } else {
            // Ẩn nút xóa ảnh và khối div preview nếu không có ảnh
            $('#removeImage').hide();
            $('#imageContainer').hide();
        }
    });
    // Khi người dùng chọn tệp
    $('#fileInput').on('change', function (e) {
        var fileInput = e.target;
        var file = fileInput.files[0];

        if (file) {
            // Hiển thị ảnh trước khi tải lên
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);

            // Hiển thị nút xóa ảnh và khối div preview
            $('#removeImage').show();
            $('#imageContainer').show();
        } else {
            // Ẩn nút xóa ảnh và khối div preview nếu không có ảnh được chọn
            $('#removeImage').hide();
            $('#imageContainer').hide();
        }
    });

    // Khi người dùng nhấn vào nút xóa ảnh
    $('#removeImage').on('click', function (e) {
        // Xóa dữ liệu ảnh, ẩn nút xóa và khối div preview
        $('#imagePreview').attr('src', '');
        $('#removeImage').hide();
        $('#imageContainer').hide();

        // Đặt giá trị trống cho input file để đảm bảo sự kiện change được kích hoạt khi chọn lại cùng một tệp
        $('#fileInput').val('');
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission

        Swal.fire({
            title: 'Bạn có chắc chắn muốn cập nhật không?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3ec396',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Cập nhật',
            cancelButtonText: 'Hủy bỏ'
        }).then((result) => {
            if (result.isConfirmed) {
                // Manually submit the form
                event.target.submit();
                Swal.fire('Cập nhật thành công!', '', 'success');
            }
        });
    });
</script>

</body>
</html>