<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="admin_topbar">
<!-- Topbar Start -->
    <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">




        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="/assets_admin/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                <span class="ml-1">Samuel <i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Xin chào !</h6>
                </div>

                <!-- item-->
                <a th:href="@{/admin/profile}" class="dropdown-item notify-item">
                    <i class="fe-user"></i>
                    <span>Thông tin cá nhân</span>
                </a>

                <div class="dropdown-divider"></div>

                <!-- item-->
                <a th:href="@{/logout}" class="dropdown-item notify-item">
                    <i class="fe-log-out"></i>
                    <span>Đăng xuất</span>
                </a>

            </div>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="/admin/dashboard" class="logo text-center">
                        <span class="logo-lg">
                            <img src="/assets_admin/images/logo-light.png" alt="" height="16">
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                        </span>
            <span class="logo-sm">
                            <!-- <span class="logo-sm-text-dark">U</span> -->
                            <img src="/assets_admin/images/logo-sm.png" alt="" height="28">
                        </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>

    </ul>
    </div>

<!-- end Topbar -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Menu</li>

                    <li>
                        <a th:href="@{/admin/dashboard}">
                            <i class="fe-airplay"></i>
<!--                            <span class="badge badge-danger badge-pill float-right">3</span>-->

                            <span> Thống kê </span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/house-manager">
                            <i class="fe-briefcase"></i>
                            <span> Quản lý nhà trọ </span>

                        </a>
                    </li>

                    <li>
                        <a th:href="@{/admin/room}">
                            <i class="fas fa-bed"></i>
                            <span> Quản lý phòng trọ </span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/admin/user}">
                            <i class="dripicons-user-group"></i>
                            <span> Quản lý người dùng </span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/admin/sliderList}">
                            <i class="fe-mail"></i>
                            <span> Quản lý slider </span>

                        </a>

                    </li>



                    <li>
                        <a th:href="@{/admin/feedback}">
                            <i class="fe-layout"></i>
                            <span> Quản lý bình luận </span>

                        </a>

                    </li>

<!--                    <li class="menu-title mt-2">More</li>-->

                    <li>
                        <a th:href="@{/list-report-admin}">
                            <i class="fe-map"></i>
                            <span> Quản lý báo cáo</span>

                        </a>

                    </li>
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->
    </div>

</div>

<!-- Left Sidebar End -->
</body>
</html>