<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Thêm phòng mới</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets_admin/images/favicon.ico}">

    <!-- App css -->
    <link th:href="@{/assets_admin/libs/dropzone/dropzone.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets_admin/css/app.min.css}" rel="stylesheet" type="text/css"/>

    <style>
        .profile-picture img {
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<body>

<!-- Begin page -->
<div id="wrapper">


    <!-- Topbar Start -->
    <div th:replace="~{admin/header_admin :: admin_topbar}"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/room/listRoom}">Danh sách phòng</a></li>
                                    <li class="breadcrumb-item active">Thêm phòng mới</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Thêm phòng mới</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg">
                        <div class="card-box">
                            <div class="d-flex justify-content-end">
                                <form th:action="@{importRooms}" method="post" enctype="multipart/form-data"
                                      class="my-form">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" id="fileExcel" name="fileExcel"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="event.stopPropagation()">Thêm nhiều phòng
                                    </button>
                                </form>
                            </div>

                            <form class="parsley-examples" action="#" th:action="@{/admin/room/save}" th:object="${room}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{roomId}">
                                <div class="form-group">
                                    <label>Phòng</label>
                                    <input type="text" class="form-control" required
                                           placeholder="Type something" th:field="*{roomName}"/>
                                </div>

                                <div class="form-group">
                                    <label>Diện tiích</label>
                                    <div>
                                        <input type="number" id="area" class="form-control" required
                                               placeholder="56.5656" th:field="*{area}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Giá</label>
                                    <div>
                                        <input type="number" class="form-control" required
                                               placeholder="56.5656" th:field="*{price}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Loại phòng</label>
                                    <div>
                                       <select class="form-select form-control mb-4 col-4" th:field="*{typeId}" aria-label="Default select example">
                                           <option th:each="type : ${types}" th:value="${type.typeId}" th:utext="${type.typeName}" />
                                       </select>
                                   </div>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả chi tiết</label>
                                    <input type="text" class="form-control" required
                                           placeholder="Type something" th:field="*{description}"/>
                                </div>
                                <div class="form-group">
                                    <label>Dịch vụ</label>
                                    <div>
                                        <div>
                                            <input type="checkbox" id="fridge" name="serviceNames" value="Tủ lạnh">
                                            <label for="fridge">Tủ lạnh</label><br>

                                            <input type="checkbox" id="bed" name="serviceNames" value="Giường ngủ">
                                            <label for="bed">Giường ngủ</label><br>

                                            <input type="checkbox" id="washingMachine" name="serviceNames"
                                                   value="Máy giặt">
                                            <label for="washingMachine">Máy giặt</label><br>

                                            <input type="checkbox" id="waterHeater" name="serviceNames"
                                                   value="Bình nóng lạnh">
                                            <label for="waterHeater">Bình nóng lạnh</label><br>

                                            <input type="checkbox" id="kitchenShelf" name="serviceNames" value="Kệ bếp">
                                            <label for="kitchenShelf">Kệ bếp</label><br>

                                            <input type="checkbox" id="loftBed" name="serviceNames" value="Gác xép">
                                            <label for="loftBed">Gác xép</label><br>

                                            <input type="checkbox" id="studyDesk" name="serviceNames" value="Bàn học">
                                            <label for="studyDesk">Bàn học</label><br>

                                            <input type="checkbox" id="wardrobe" name="serviceNames" value="Tủ quần áo">
                                            <label for="wardrobe">Tủ quần áo</label><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tình trạng</label>
                                    <div>
                                        <select class="form-control" id="status" name="status"
                                                th:field="*{status}">
                                            <option value="ACTIVE" th:selected="${room.status == 'ACTIVE'}">Phòng trống
                                            </option>
                                            <option value="INACTIVE" th:selected="${room.status == 'INACTIVE'}">
                                                Hết phòng
                                            </option>
                                        </select>
                                    </div>
                                </div>
								<!-- Pictures -->
                                <div class="dropzone" id="myAwesomeDropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                    <div class="dz-message needsclick">
                                        <i class="h1 text-muted dripicons-cloud-upload"></i>
                                        <h3>Drop files here or click to upload.</h3>
                                        <span class="text-muted font-13">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-gradient waves-effect waves-light">
                                            Lưu thông tin
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect ml-1">
                                            <a th:href="@{/admin/room/listRoom}">Danh sách phòng</a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- end row -->


            </div> <!-- end container-fluid -->

        </div> <!-- end content -->


        <!-- Footer Start -->
        <div th:replace="admin/footer_admin :: admin_footer"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Vendor js -->
<script th:src="@{/assets_admin/js/vendor.min.js}"></script>

<!-- Plugin js-->
<script th:src="@{/assets_admin/assets/libs/parsleyjs/parsley.min.js}"></script>

<!-- Validation init js-->
<script th:src="@{/assets_admin/assets/js/pages/form-validation.init.js}"></script>

<!-- App js -->
<script th:src="@{/assets_admin/js/app.min.js}"></script>
<!--Drop zone-->
<!--<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/jquery-2.2.1.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>-->
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/jquery.validate.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/bootstrap-datepicker.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/icheck.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/owl.carousel.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/masonry.pkgd.min.js}"></script>-->

<!--<script type="text/javascript" th:src="@{/assets/js/maps.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script th:inline="javascript">
    $(document).ready(function () {
        // Customize Dropzone.js options here.
        Dropzone.options.myAwesomeDropzone = {
            paramName: "file", // Name of the file input field
            maxFilesize: 5, // Maximum file size in MB
            maxFiles: 10, // Maximum number of files
            acceptedFiles: "image/*", // Restrict to image files
            addRemoveLinks: true, // Display remove links
            dictRemoveFile: "Remove", // Text for remove link
            // Other options...

            // Define a success callback for when files are uploaded successfully
            success: function (file, response) {
                // Handle the server response, if needed
            },
        };
    });
</script>
</body>
</html>