<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Thêm phòng mới</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets_admin/images/favicon.ico">

    <!-- App css -->
    <link href="/assets_admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets_admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets_admin/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets_admin/css/file-upload.css" rel="stylesheet" type="text/css"/>
    <link href="/assets_admin/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .input-number .change-button.plus {
            display: none;
        }

        .input-number .change-button.minus {
            display: none;
        }

        .file-upload-previews .MultiFile-remove:after {
            display: none;
        }
    </style>
</head>

<body>

<!-- Begin page -->
<div id="page-wrapper">
    <div th:replace="~{header :: headerSection}"></div>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="page-content">
        <div class="container">

            <!-- Start Content-->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg">
                        <div class="card-box">
                            <h4 class="page-title">Thêm phòng mới</h4>
                            <div class="d-flex justify-content-end">
                                <form th:action="@{'importRooms/'+ ${houseId}}" method="post"
                                      enctype="multipart/form-data"
                                      class="my-form">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" id="fileExcel" name="fileExcel"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="event.stopPropagation()">Thêm
                                        nhiều phòng
                                    </button>
                                </form>
                            </div>
                            <form class="parsley-examples" action="#" th:action="@{'/landlord/room/save/'+ ${houseId}}"
                                  th:object="${room}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{roomId}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phòng</label>
                                            <input type="text" class="form-control" required
                                                   placeholder="P101" th:field="*{roomName}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Diện tích</label>
                                            <div>
                                                <input type="number" id="area" class="form-control" required
                                                       placeholder="20" th:field="*{area}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Giá</label>
                                            <div>
                                                <input type="number" class="form-control" required
                                                       placeholder="2.000.000" th:field="*{price}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Mô tả chi tiết</label>
                                            <textarea type="text" class="form-control" rows="5"
                                                      placeholder="Nhập thêm thông tin cho phòng"
                                                      th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Loại phòng</label>
                                            <div>
                                                <select class="form-select form-control" th:field="*{typeId}"
                                                        aria-label="Default select example">
                                                    <option th:each="type : ${types}" th:value="${type.typeId}"
                                                            th:utext="${type.typeName}"
                                                            th:selected="${room.typeName == type.typeName}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <div>
                                                <select class="form-control" id="status" name="status"
                                                        th:field="*{status}">
                                                    <option value="ACTIVE" th:selected="${room.status == 'ACTIVE'}">
                                                        Phòng trống
                                                    </option>
                                                    <option value="INACTIVE" th:selected="${room.status == 'INACTIVE'}">
                                                        Hết phòng
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Service-->
                                <div class="form-group">
                                    <label>Dịch vụ</label>
                                    <div style="display: flex; flex-wrap: wrap;">
                                        <div class="checkbox checkbox-primary col-2"
                                             th:each="listService : ${services}" th:field="*{serviceNames}"
                                             style="padding-left: 10px">
                                            <input th:id="${listService.serviceName}" type="checkbox" name="serviceNames"
                                                   th:value="${listService.serviceName}">
                                            <label th:for="${listService.serviceName}"
                                                   th:text="${listService.serviceName}">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pictures -->
                                <div class="form-group">
                                    <label class="col-form-label">Ảnh phòng</label>
                                    <div>
                                        <div class="file-upload-previews"></div>
                                        <div class="file-upload">
                                            <input type="file" name="file" class="file-upload-input with-preview"
                                                   multiple title="Click to add files" maxlength="10"
                                                   accept="gif|jpg|png">
                                            <span>Nhấn để thêm ảnh</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-gradient waves-effect waves-light">
                                            Lưu thông tin
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect ml-1">
                                            <a th:href="@{'/landlord/room/listRoom/' + ${houseId}}">Danh sách
                                                phòng</a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end container-fluid -->
            </div> <!-- end content -->
            <!-- Footer Start -->
        </div>

        <div th:replace="~{footer :: footerSection}"></div>

    </div>
</div>

<!-- Vendor js -->
<script src="/assets_admin/js/vendor.min.js"></script>
<!-- Plugins js -->
<script src="/assets_admin/libs/dropzone/dropzone.min.js"></script>

<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min1.js"></script>
<script type="text/javascript" src="/assets/js/jQuery.MultiFile.min.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<script src="/assets_admin/js/app.min.js"></script>

</body>
</html>