<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <title>Quản lý trọ</title>

</head>

<body>
<div class="page-wrapper">
    <div th:replace="~{header :: headerSection}"></div>
    <!--end page-header-->

    <div id="page-content" >
        <div class="container" style="margin-top: 15px">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Quản lý nhà trọ</li>
            </ol>
            <!--end breadcrumb-->
            <div class="main-content">
                <div class="title">
                    <h1><a th:href = "@{/landlord/listHousse}">Quản lý nhà trọ</a></h1>
                    <h1 style="float:right; margin-right: 0"> <a th:href = "@{/landlord/add}" class="btn btn-primary btn-rounded scroll" style="border-radius: 5px">Thêm trọ</a></h1>
                    <h1 style="float:right; margin-right: 20px"> <a th:if="${!house.isEmpty()}" th:href = "@{/landlord/feedback}" class="btn btn-primary btn-rounded scroll" style="border-radius: 5px">Danh sách bình luận</a></h1>
                    </h1>

                </div>
                <div th:if="${house.isEmpty()}" class="item list listNull">
                    <div class="main-content">

                        <!--end title-->
                        <div class="error-message">
                            <h2 style="font-size: 70px">Hiện tại bạn chưa có trọ</h2>
                            <div class="message">

                            </div>
                        </div>
                        <!--end error-message-->
                        <form class="labels-uppercase">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <a href="/" class="btn btn-primary ">Trang chủ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="my-items table-responsive"  th:if="${!house.isEmpty()}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Tình trạng</th>
                            <th>Đánh giá</th>
                            <th>Người tạo</th>
                            <th style="padding-right: 55px">Ngày tạo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="my-item" th:each="house:${house}">
                            <td>
                                <div class="image-wrapper">
                                    <div class="image-carousel">
                                        <a th:href="@{/landlord/edit/}+${house.houseID}" class="image" th:each="image, iterStat : ${house.listImage}" th:if="${iterStat.index < 1}">
                                            <div class="bg-transfer">
                                                <img th:src="'https://storage.googleapis.com'+${image.imageLink}" alt="Ảnh">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="info">
                                    <a href="#"><h2 th:text="${house.houseName}" style="display: block">Spring Hotel</h2></a>
                                    <figure class="label label-info" th:text="${house.getTypeHouse()}" >Hotel</figure>
                                    <figure class="location" th:text="${house.getService()}">Montenegro</figure>

                                    <div class="meta">
                                        <span><i class="fa fa-bed" ></i><h th:text="${house.getCount_room()}"></h></span>
                                        <span class="price-info" th:with="formattedPrice=${#numbers.formatDecimal(house.price, 0, 'COMMA', 0, 'POINT')}">Từ <span class="price" th:text="${formattedPrice + ' VND'}">$32</span><span class="appendix">/Tháng</span></span>
                                    </div>
                                    <!--end meta-->
                                </div>
                                <!--end info-->
                            </td>
                            <td th:if="${house.getStatus() == 1}"><div class="featured yes"> Hoạt Động
                                <i class="fa fa-check"></i>
                                <aside></aside>
                            </div></td>
                            <td th:if="${house.getStatus() == 0}"><div class="featured yes" style="color: red"> Ngưng Hoạt Động
                                <aside></aside>
                            </div></td>
                            <td class="views" th:if="${house.star!=null && house.star >0}" th:text="${house.getStar()}" style="padding-left: 20px">426</td>
                            <td class="views" th:if="${house.star==null || house.star == 0}">Chưa đánh giá</td>
                            <td class="reviews" th:text="${house.created_firstName + ' '+ house.created_lastName}">45</td>

                            <td class="last-reservation" style="padding-right: 55px"><h th:text="${#temporals.format(house.getCreatedDate(), 'dd/MM/yyyy')}"></h>
                                <span class="last-edit" >Ngày cuối cập nhật: <h th:text="${#temporals.format(house.getLastModifiedDate(), 'dd/MM/yyyy')}"></h></span>

                                <div class="edit-options">
                                    <a th:href = "@{/landlord/edit/}+${house.houseID}" class="link icon"><i class="fa fa-edit"></i>Chỉnh sửa</a>
                                    <a th:href="@{'/landlord/room/listRoom/' + ${house.houseID}}" class="link icon"><i class="fa fa-edit"></i>Danh sách phòng</a>
<!--                                    <a href="reviews.html" class="link icon"><i class="fa fa-comment"></i>Reviews</a>-->
<!--                                    <a href="#" class="link icon delete"><i class="fa fa-trash"></i>Delete</a>-->
                                </div>
                                <div>
                                    <span  style="position: absolute;bottom:-42px;left: 180px;opacity: 0.4">Người cập nhật: <h th:text="${house.getLastModifiedBy_firstName()+' '+house.getLastModifiedBy_lastName()}"></h></span>
                                </div>
                                <!--end edit-options-->
                            </td>
                        </tr>
                        <!--end my-item-->


                        <!--end my-item-->
                        </tbody>
                    </table>
                </div>
                <!--end my-items-->
            </div>
            <!--end main-content-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <div th:replace="~{footer :: footerSection}"></div>
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>


<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->
</body>
