<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <title>Không có quyền truy cập</title>

</head>

<body>
<div class="page-wrapper">
    <div th:replace="~{header :: headerSection}"></div>

    <div id="page-content">
        <div class="container">

            <!--end breadcrumb-->
            <div class="main-content">
                <!--end title-->
                <div class="error-message">
                    <h2>403</h2>
                    <div class="message">
                        <h3>Bạn không có quyền truy cập</h3>
                    </div>
                </div>
                <!--end error-message-->
                <form class="labels-uppercase">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group text-center">
                                <a href="/">
                                    <button type="button" class="btn btn-primary ">Trang Chủ</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end main-content-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    <div th:replace="~{footer :: footerSection}"></div>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="/assets/js/ie.js"></script>
<![endif]-->
</body>
