<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
<link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

<body>

<footer id="page-footer" th:fragment="footerSection">
  <!--        <div class="row-one">-->
  <!--            <div class="container">-->
  <!--                <div class="logos">-->
  <!--                    <div class="logo">-->
  <!--                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>-->
  <!--                    </div>-->
  <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
  <!--                    <div class="logo">-->
  <!--                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>-->
  <!--                    </div>-->
  <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
  <!--                    <div class="logo">-->
  <!--                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>-->
  <!--                    </div>-->
  <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
  <!--                    <div class="logo">-->
  <!--                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>-->
  <!--                    </div>-->
  <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
  <!--                    <div class="logo">-->
  <!--                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>-->
  <!--                    </div>-->
  <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
  <!--                </div>-->
  <!--                &lt;!&ndash;/ .logos&ndash;&gt;-->
  <!--            </div>-->
  <!--        </div>-->
  <!--end row-one-->
  <div class="row-two clearfix">
    <div class="container">
      <div class="copyright pull-left">Room Finding System</div>
      <div class="footer-nav pull-right">
        <a th:href="@{/}">Trang chủ</a>
        <a th:href="@{/houselist}">Danh sách nhà trọ</a>
        <a th:href="@{/RoomList/1}">Danh sách phòng trọ</a>
        <a href="contact-us.html">Blog</a>
      </div>
    </div>
    <div class="bg-transfer"><img src="/assets/img/footer-bg.jpg" alt=""></div>
  </div>
  <!--end row-two-->
</footer>




  </body>
</html>

