<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="shortcut icon"  th:href="@{/assets/img/favicon.ico}">
<head>
    <style>
        .round-image {
            width: 50px; /* Đặt kích thước bất kỳ tùy theo nhu cầu của bạn */
            height: 50px; /* Đặt kích thước bất kỳ tùy theo nhu cầu của bạn */
            border-radius: 50%; /* Đặt bán kính bo góc thành 50% (hình tròn) */
            overflow: hidden; /* Ẩn các phần nằm ngoài phạm vi của hình tròn */
        }

        .round-image img {
            width: 100%; /* Đảm bảo bức ảnh luôn kích thước bằng với phần bọc */
            height: auto; /* Để tỷ lệ khung hình không bị thay đổi */
        }
    </style>
</head>



<body>


      <div id="page-header" th:fragment="headerSection">
        <header>
          <div class="container">
            <div class="secondary-nav">
              <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
              <div id="secondary-nav">
                <nav>
                  <div class="left opacity-60">
                    <a href=""><i class="fa fa-phone"></i>+84 366 225 436</a>
                    <a href="mailto:offftrick@gmail.com"><i class="fa fa-envelope"></i>
                      offftrick@gmail.com</a>
                  </div>
                  <!--end left-->
                  <div class="right">
                    <div th:if="${session.user != null}">
                      <!-- Hiển thị thông tin người dùng đã đăng nhập -->
<!--                      <a th:href="@{/profile}"><span>Xin chào, <span th:text="${session.user.lastName+' '+session.user.firstName}"></span></span></a>-->

                        <li class="dropdown notification-list list-unstyled">
                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" th:href="@{/profile}" role="button" aria-haspopup="false" aria-expanded="false">
                                <img class="round-image" th:src="${session.user.getImageLink()}" style=" max-width: 25px;max-height: 25px; "  >
                                <span class="ml-1" th:text="${session.user.lastName+' '+session.user.firstName}"></span>

                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->

                                <!-- item-->
                                <a th:href="@{profile}" class="dropdown-item notify-item">

                                    <span>Thông tin cá nhân</span>
                                </a>
                                <br>
                                <a th:href="@{favourite-list}" class="dropdown-item notify-item">

                                    <span>Danh Sách Yêu Thích</span>
                                </a>
                                <br>
                                <a th:href="@{feedback-list-landlord}" class="dropdown-item notify-item">

                                    <span>Danh Sách Bình Luận</span>
                                </a>
                                <br>
                                <a th:href="@{change-password}" class="dropdown-item notify-item">

                                    <span>Thay Đổi Mật Khẩu</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <!-- item-->
                                <a th:href="@{/logout}" class="dropdown-item notify-item">

                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </li>
                    </div>
                    <!--end element-->
                    <div th:if="${session.user == null}">
                      <div class="element">
                        <a th:href="@{/login}"  >Đăng nhập</a>
                      </div>
                      <!--end element-->
                      <div class="element">
                        <a th:href="@{/register}">Đăng ký</a>
                      </div>
                      <!--end element-->
                    </div>
                    <!--end element-->
                  </div>
                  <!--end right-->
                </nav>
              </div>
            </div>
            <!--end secondary-nav-->
          </div>
          <!--end container-->
          <hr>
          <div class="container">
            <div class="primary-nav">
              <div class="left">
                <!--                        <a href="homepage.html" id="brand"><img src="/assets/img/logo.png" alt=""></a>-->
                <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
              </div>
              <!--end left-->
              <div class="right">
                <nav id="primary-nav">
                  <ul>
                    <li th:class="${request.getRequestURI() == '/' ? 'active' : ''}"><a th:href="@{/}">Trang chủ</a></li>
                      <li th:class="${request.getRequestURI() == '/manager' ? 'active' : ''}"><a th:if="${session.user != null and session.user.getRoleId() == 'LANDLORD'}" th:href="@{/manager}" >Quản lý phòng trọ</a></li>
                    <li th:class="${request.getRequestURI() == '/houselist' ? 'active' : ''}"><a th:href="@{/houselist}">Danh sách nhà trọ</a></li>
                    <li th:class="${request.getRequestURI() == '/RoomList/1' ? 'active' : ''}"><a th:href="@{/RoomList/1}" id="roomList">Danh sách phòng trọ</a></li>


                  </ul>
                </nav>
                <!--end nav-->
              </div>
              <!--end right-->
            </div>
            <!--end primary-nav-->
          </div>
          <!--end container-->
        </header>
        <!--end header-->
      </div>


      <script>
          document.addEventListener("DOMContentLoaded", function() {
              // Get all li elements in the primary-nav menu
              var navItems = document.querySelectorAll("#page-header .primary-nav nav > ul li");

              // Loop through each li element and add click event
              navItems.forEach(function(item) {
                  item.addEventListener("click", function() {
                      // Remove 'active' class from all li elements
                      navItems.forEach(function(navItem) {
                          navItem.classList.remove("active");
                      });

                      // Add 'active' class to the clicked li element
                      item.classList.add("active");
                  });
              });
          });
      </script>



</body>


