<!DOCTYPE html>

<html lang="en-US">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <title>Room Finding System</title>

</head>

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
                            </div>
                            <!--end left-->
                            <div class="right">
                                <div th:if="${session!= null}">
                                    <!-- Hiển thị thông tin người dùng đã đăng nhập -->
                                    <a th:href="@{/profile}"><span>Xin chào, <span th:text="${session.firstname+' '}+${session.lastname}"></span></span></a>
                                    <a th:href="@{/logout}">Đăng xuất</a>
                                </div>
                                <!--end element-->
                                <div th:unless="${session!= null}">
                                <div class="element">
                                    <a th:href="@{/login}" href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Đăng nhập</a>
                                </div>
                                <!--end element-->
                                <div class="element">
                                    <a th:href="@{/register}" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Đăng ký</a>
                                </div>
                                <!--end element-->
                                </div>
                                <!--end element-->
                            </div>
                            <!--end right-->
                        </nav>
                    </div>
                </div>
                <!--end secondary-nav-->
            </div>
            <!--end container-->
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
<!--                        <a href="Homepage.html" id="brand"><img src="/assets/img/logo.png" alt=""></a>-->
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li class="active"><a th:href="@{/}">Trang chủ</a></li>
                                <li><a th:href="@{/houselist}">Danh sách nhà trọ</a></li>
                                <li>
                                    <a href="#" class="has-child">Danh sách phòng trọ</a>
<!--                                    <ul class="child-nav">-->
<!--                                        <li><a href="listing.html">List Listing</a></li>-->
<!--                                        <li><a href="listing-matrix.html">Matrix Listing</a></li>-->
<!--                                    </ul>-->
                                </li>

                                <li><a href="">Blog</a></li>

                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <div th:replace="~{header :: headerSection}"></div>
    <!--end page-header-->

    <div id="page-content">
        <div class="hero-section" data-height="600">
            <form id="form-hero" th:action = "@{/houselist}">
                <div class="hero-inner">
                    <div class="hero-wrapper" >
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center">Tìm kiếm phòng trọ phù hợp</h1>
                                    <div class="row no-gutters">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete">Vị trí, Tên trọ</label>
                                                <input type="text" class="form-control" id="address-autocomplete" name="houseName" placeholder="Nhập tên trọ hoặc vị trí">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="favorite-search">-->
<!--                                        <span>Favorite Searches</span>-->
<!--                                        <a href="">Bourges</a>-->
<!--                                        <a href="">Orléans</a>-->
<!--                                        <a href="">Rouen</a>-->
<!--                                        <a href="">Toulouse</a>-->
<!--                                    </div>-->
                                    <div class="favorite-search">
                                        <span>Vị trí nổi bật</span>
                                        <a href="">Thạch Thất</a>
                                        <a href="">Tân Xã</a>

                                    </div>

                                    <!--end favorite-searches-->
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="/assets/img/bg-hero.jpg" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->
                        <div class="options">
                            <div class="container">
                                <div class="wrapper">
                                    <h2>Thể loại phòng</h2>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-7" >
                                            <ul th:each = "housetype : ${housetypes}" class="checkboxes inline list-unstyled"  >
                                                <li><label><input th:text = "${housetype.typeName}" type="checkbox" name="type" th:value = "${housetype.typeId}"></label></li>
                                            </ul>
                                            <!--end checkboxes-->
                                        </div>
                                        <!--end col-md-8-->
                                        <div class="col-md-4 col-sm-5">
                                            <div class="row">
<!--                                                <div>-->
                                                <!--                                                <div>-->
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label>Tiền phòng</label>
                                                        <select class="form-control framed white">
                                                            <option name="price" value="1">0 - 2.000.000</option>
                                                            <option name="price" value="2">2.000.000 - 4.000.000</option>
                                                            <option name="price" value="3">4.000.000 -></option>
                                                        </select>
                                                    </div>
                                                    <!--end form-group-->
                                                </div>
                                                <!--end col-md-6-->
<!--                                                <div class="col-md-6 col-sm-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Star Rating</label>-->
<!--                                                        <select class="form-control framed white">-->
<!--                                                            <option value="">1</option>-->
<!--                                                            <option value="">2</option>-->
<!--                                                            <option value="">3</option>-->
<!--                                                            <option value="">4</option>-->
<!--                                                            <option value="">5</option>-->
<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash;end form-group&ndash;&gt;-->
<!--                                                </div>-->
                                                <!--end col-md-6-->

                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end col-md-4-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end wrapper-->
                            </div>
                            <!--end container-->
                        </div>
                        <!--end options-->
                    </div>
                    <!--end hero-wrapper-->
                    <div id="options-hidden" class="collapse">
                        <div class="container">
                            <div class="wrapper">
                                <h2>Tiện ích</h2>
                                <div class="row">
                                    <div class="col-md-8 col-sm-6">
                                        <ul class="checkboxes inline" th:each = "houseservice : ${houseservices}">
                                            <li><label><input type="checkbox" name="service_name" th:text = "${houseservice.serviceName}" th:value= "${houseservice.serviceId}"></label></li>

                                        </ul>
                                        <!--end checkboxes-->
                                    </div>
                                    <!--end col-md-8-->
                                    <div class="col-md-4"></div>
                                    <!--end col-md-4-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end wrapper-->
                        </div>
                        <!--end container-->
                    </div>
                </div>
                <!--end hero-inner-->
                <div class="plate">
                    <a data-toggle="collapse" href="#options-hidden" aria-expanded="false" aria-controls="options-hidden">Xem thêm lựa chọn</a>
                </div>
                <!--end plate-->
            </form>
            <!--end form-->
            <div class="map-wrapper">
                <div class="plate white">
                    <a href="#" data-switch="#form-hero">Tìm kiếm</a>
                </div>
                <!--end plate-->
                <div id="map-item" class="map height-100"></div>
                <img src="/assets/img/map.jpg" alt="">
            </div>
        </div>
        <!--end hero-section-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2>Nhà trọ nổi bật</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6" th:each = "house : ${houses}">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="1">
                            <div class="item-wrapper">
                                <div class="image" >
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
<!--                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>-->
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                    <a href="" class="wrapper">
                                        <div class="gallery" >
                                            <img style="width: 273px; height: 208px;" th:each = "image: ${house.listImage}" th:src="${image}" alt="">


                                        </div>



                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>8.9</span>
                                        <span><i class="fa fa-bed"></i>365</span>
                                        <!--                                        <span><i class="fa fa-star"></i>8.9</span>-->
                                        <span ><i class="fa fa-bed"></i><span th:text="${house.countRooms+' phòng'}"></span></span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info"  th:text = "${house.typeHouse}" ></figure>
                                        <a th:href = "@{/detail?id=}+${house.houseID}" ><h3 th:text = "${house.houseName}"></h3></a>
                                        <figure class="" th:text = "${house.addressDetail+', '+house.ward+', '+house.district+', '+house.province}"></figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>

                    </div>
                <a th:href="@{houselist/1}" class="pull-right">View All</a>
                </div>
                <!--end row-->
                <a th:href="@{/houselist}" class="pull-right">View All</a>
            </div>
            <!--end container-->
            <!--end row-->
        </div>
        <!--end block-->
        <!--end container-->
    </div>
    <!--end block-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="pull-left">Phòng trọ nổi bật</h2>
                </div>
                <!--end title-->
                <div class="row">
                    <div class="col-md-12 col-sm-8" >
                        <div class="row">
                            <div class="col-md-3 col-sm-6" th:each = "room: ${rooms}">
                                <a th:href = "@{/room/}+${room.roomId}" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info" th:text = "${room.roomType}">Hotel</figure>
                                            <aside>
                                                <h3 th:text = "${room.houseName}">Celestial Hotel & Spa</h3>
                                                <figure class="location" th:text = "${room.addressName+', '+room.wardName+', '+room.districtName+', '+room.provinceName}" >Norway</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
<!--                                            <div class="gallery">-->
                                                <img src="/assets/img/items/01.jpg"  alt="">
<!--                                            </div>-->
                                        </div>
    <div class="block">
        <div class="container">
            <div class="title">
                <h2 class="pull-left">Phòng trọ nổi bật</h2>
            </div>
            <!--end title-->
            <div class="row">
                <div class="col-md-12 col-sm-8" >
                    <div class="row">
                        <div class="col-md-3 col-sm-6" th:each = "room: ${rooms}">
                            <a th:href = "@{/room/}+${room.roomId}" class="item small">
                                <div class="image">
                                    <div class="info">
                                        <figure class="label label-info" th:text = "${room.roomType}">Hotel</figure>
                                        <aside>
                                            <h3 th:text = "${room.houseName}">Celestial Hotel & Spa</h3>
                                            <figure class="location" th:text = "${room.addressDetail+', '+room.ward+', '+room.district+', '+room.province}" ></figure>
                                        </aside>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>8.9</span>
                                            <span><i class="fa fa-square-o"></i>250</span>
                                        </div>
                                        <div class="meta">
                                            <span><i class="fa fa-star" th:text = "${room.price}"></i></span>

                                        </div>
                                    <div class="wrapper">
                                        <!--                                            <div class="gallery">-->
                                        <img style="width: 273px; height: 208px;" th:each = "image: ${room.roomImageLink}" th:src="${image}" alt="">
                                        <!--                                            </div>-->
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>8.9</span>
                                        <span><i class="fa fa-square-o"></i>250</span>
                                    </div>
                                    <div class="meta">
                                        <span th:text="${'Giá tiền: '+room.price+'d'}"></span>

                                    </div>
                                </div>
                                <!--end description-->
                            </a>
                            <!--end item-->
                        </div>
                        <!--end row-->
                        <a href="" class="pull-right">View All</a>

                    </div>
<!--                    <div class="col-md-3 col-sm-4">-->
<!--                        <a href="#" class="advertising-banner">-->
<!--                            <img src="assets/img/ad-banner-02.jpg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
                    <!--end row-->
                    <a th:href="@{/RoomList}" class="pull-right">View All</a>
                </div>
                <!--                    <div class="col-md-3 col-sm-4">-->
                <!--                        <a href="#" class="advertising-banner">-->
                <!--                            <img src="assets/img/ad-banner-02.jpg" alt="">-->
                <!--                        </a>-->
                <!--                    </div>-->
            </div>
            <!--end container-->
        </div>
        <!--end block-->
        <!--end container-->
    </div>
    <!--end block-->

        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature">
                            <aside class="circle">
                                <i class="icon_house_alt"></i>
                            </aside>
                            <figure>
                                <h3>200+ Accommodations</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                    Donec id nulla nisl.
                                </p>
                            </figure>
                        </div>
                        <!--end feature-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature">
                            <aside class="circle">
                                <i class="icon_box-checked"></i>
                            </aside>
                            <figure>
                                <h3>Easy Booking System</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                    Donec id nulla nisl.
                                </p>
                            </figure>
                        </div>
                        <!--end feature-->
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature">
                            <aside class="circle">
                                <i class="icon_headphones"></i>
                            </aside>
                            <figure>
                                <h3>Great Support</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                    Donec id nulla nisl.
                                </p>
                            </figure>
                        </div>
                        <!--end feature-->
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature">
                        <aside class="circle">
                            <i class="icon_house_alt"></i>
                        </aside>
                        <figure>
                            <h3>200+ Accommodations</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                Donec id nulla nisl.
                            </p>
                        </figure>
                    </div>
                    <!--end col-md-4-->
                    <!--end feature-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
            <div class="space"></div>
        </div>
        <!--end block-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">Có thể bạn muốn xem</h2>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <div class="feature">
                        <aside class="circle">
                            <i class="icon_box-checked"></i>
                        </aside>
                        <figure>
                            <h3>Easy Booking System</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                Donec id nulla nisl.
                            </p>
                        </figure>
                    </div>
                    <!--end feature-->
                </div>
                <!--end title-->
                <div class="gallery-carousel" >
                    <div class="gallery-item" th:each = "slider: ${sliders}">
                        <a href=""><div class="image"><img th:src="${slider.imgLink}" alt=""></div></a>
                        <div class="description">
<!--                            <a href=""><h3 th:text = "${slider.content}"></h3></a>-->
<!--                            <figure th:text = "${slider.content}">Austria</figure>-->
                            <p th:text = "${slider.title}"></p>
                            <a href="" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                <!--end col-md-4-->
                <div class="col-md-4 col-sm-4">
                    <div class="feature">
                        <aside class="circle">
                            <i class="icon_headphones"></i>
                        </aside>
                        <figure>
                            <h3>Great Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis.
                                Donec id nulla nisl.
                            </p>
                        </figure>
                    </div>
                    <!--end gallery-item-->
<!--                    <div class="gallery-item">-->
<!--                        -->
<!--                    </div>-->
<!--                    &lt;!&ndash;end gallery-item&ndash;&gt;-->
<!--                    <div class="gallery-item">-->
<!--                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>-->
<!--                        <div class="description">-->
<!--                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>-->
<!--                            <figure>Austria</figure>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>-->
<!--                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end gallery-item&ndash;&gt;-->
<!--                    <div class="gallery-item">-->
<!--                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>-->
<!--                        <div class="description">-->
<!--                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>-->
<!--                            <figure>Austria</figure>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>-->
<!--                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end gallery-item&ndash;&gt;-->
<!--                    <div class="gallery-item">-->
<!--                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>-->
<!--                        <div class="description">-->
<!--                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>-->
<!--                            <figure>Austria</figure>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>-->
<!--                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end gallery-item&ndash;&gt;-->
<!--                    <div class="gallery-item">-->
<!--                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>-->
<!--                        <div class="description">-->
<!--                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>-->
<!--                            <figure>Austria</figure>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>-->
<!--                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!--end gallery-item-->
                    <!--end feature-->
                </div>
                <!--end gallery-carousel-->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="/assets/img/bg-map.jpg" alt="">
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
        <!--end block-->

<!--        <div class="container">-->
<!--            <div class="block">-->
<!--                <form class="marketing-form">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-10 col-md-offset-1">-->
<!--                            <div class="form-group-inline vertical-align-middle no-margin">-->
<!--                                <div class="form-group">-->
<!--                                    <h3 class="font-color-white no-margin"> Save up to 50% off your next trip</h3>-->
<!--                                    <p class="font-color-white no-margin">Secret Deals – for our subscribers only</p>-->
<!--                                </div>-->
<!--                                <div class="form-group width-50">-->
<!--                                    <input type="email" class="form-control input-dark" name="location" placeholder="Your email">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <div class="bg color default"></div>-->
<!--            </div>-->
<!--        </div>-->
        <!--end block-->
        <!--end container-->
        <div class="space"></div>
    </div>
    <!--end block-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2>Khu vực nổi bật</h2>
                </div>
                <!--end title-->
                <div class="grid masonry">
<!--                    <div class="grid-item">-->
<!--                        <a href="#">-->
<!--                            <h3>Thạch Hòa</h3>-->
<!--                            <img src="assets/img/items/pick-01.jpg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
                    <div class="grid-item">
                        <a href="#">
                            <h3>Tân Xã</h3>
                            <img src="assets/img/items/pick-02.jpg" alt="">
                        </a>
                    </div>
                    <div class="grid-item grid-item--width2">
                        <a href="#">
                            <h3>Thạch Hòa</h3>
                            <img src="assets/img/items/pick-03.jpg" alt="">
                        </a>
                    </div>
<!--                    <div class="grid-item grid-item&#45;&#45;width2">-->
<!--                        <a href="#">-->
<!--                            <h3></h3>-->
<!--                            <img src="assets/img/items/pick-04.jpg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
                    <div class="grid-item">
                        <a href="#">
                            <h3>Tuscany</h3>
                            <img src="assets/img/items/pick-05.jpg" alt="">
                        </a>
    <div class="block">
        <div class="container">
            <div class="title">
                <h2 class="center">Có thể bạn muốn xem</h2>
            </div>
            <!--end title-->
            <div class="gallery-carousel" >
                <div class="gallery-item" th:each = "slider: ${sliders}">
                    <a href=""><div class="image"><img th:src="${slider.imgLink}" alt=""></div></a>
                    <div class="description">
                        <!--                            <a href=""><h3 th:text = "${slider.content}"></h3></a>-->
                        <!--                            <figure th:text = "${slider.content}">Austria</figure>-->
                        <p th:text = "${slider.title}"></p>
                        <a href="" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                    </div>
                </div>

            </div>
            <!--end gallery-carousel-->
        </div>
        <!--end block-->

<!--        <div class="block">-->
<!--            <div class="container">-->
<!--                <div class="title">-->
<!--                    <h2>Thuê phòng trọ</h2>-->
<!--                </div>-->
<!--                &lt;!&ndash;end title&ndash;&gt;-->
<!--               <ul class="list-links">-->
<!--                   <li><a href="#">Tenerife<span>23</span></a></li>-->
<!--                   <li><a href="#">Al Madinah<span>12</span></a></li>-->
<!--                   <li><a href="#">Koh Samui<span>76</span></a></li>-->
<!--                   <li><a href="#">Cotswolds<span>52</span></a></li>-->

<!--               </ul>-->
<!--                &lt;!&ndash;end list-links&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;end container&ndash;&gt;-->
<!--        </div>-->
        <!--end block-->

        <div class="container">
            <div class="block">
                <div class="title">
                    <h2>Reviews</h2>
                    <div class="row" >
                        <div class="col-md-3 col-sm-3" th:each = "feedback : ${feedbacks}">
                            <div class="review-single">
                                <a href="" th:text = "${feedback.houseName}"><h3>White Doe Inn</h3></a>
                                <figure class="location" th:text = "${feedback.addressName+', '+feedback.wardName+', '+feedback.districtName+', '+feedback.provinceName}"></figure>
                                <div class="rating"><i class="fa fa-user" th:text = "${' '+feedback.lastName+' '+feedback.firstName}"></i></div>
                                <p th:text = "${feedback.content}">
                                </p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
        <!--end container-->
        <div class="bg opacity-30">
            <img src="/assets/img/bg-map.jpg" alt="">
        </div>
    </div>
    <!--end block-->

    <!--        <div class="container">-->
    <!--            <div class="block">-->
    <!--                <form class="marketing-form">-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-md-10 col-md-offset-1">-->
    <!--                            <div class="form-group-inline vertical-align-middle no-margin">-->
    <!--                                <div class="form-group">-->
    <!--                                    <h3 class="font-color-white no-margin"> Save up to 50% off your next trip</h3>-->
    <!--                                    <p class="font-color-white no-margin">Secret Deals – for our subscribers only</p>-->
    <!--                                </div>-->
    <!--                                <div class="form-group width-50">-->
    <!--                                    <input type="email" class="form-control input-dark" name="location" placeholder="Your email">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--                <div class="bg color default"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--end block-->

    <!--        <div class="block">-->
    <!--            <div class="container">-->
    <!--                <div class="title">-->
    <!--                    <h2>Khu vực nổi bật</h2>-->
    <!--                </div>-->
    <!--                &lt;!&ndash;end title&ndash;&gt;-->
    <!--                <div class="grid masonry">-->
    <!--&lt;!&ndash;                    <div class="grid-item">&ndash;&gt;-->
    <!--&lt;!&ndash;                        <a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;                            <h3>Thạch Hòa</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <img src="assets/img/items/pick-01.jpg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
    <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--                    <div class="grid-item">-->
    <!--                        <a href="#">-->
    <!--                            <h3>Tân Xã</h3>-->
    <!--                            <img src="assets/img/items/pick-02.jpg" alt="">-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                    <div class="grid-item grid-item&#45;&#45;width2">-->
    <!--                        <a href="#">-->
    <!--                            <h3>Thạch Hòa</h3>-->
    <!--                            <img src="assets/img/items/pick-03.jpg" alt="">-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--&lt;!&ndash;                    <div class="grid-item grid-item&#45;&#45;width2">&ndash;&gt;-->
    <!--&lt;!&ndash;                        <a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;                            <h3></h3>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <img src="assets/img/items/pick-04.jpg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;                        </a>&ndash;&gt;-->
    <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--                    <div class="grid-item">-->
    <!--                        <a href="#">-->
    <!--                            <h3>Tuscany</h3>-->
    <!--                            <img src="assets/img/items/pick-05.jpg" alt="">-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--end block-->

    <!--        <div class="block">-->
    <!--            <div class="container">-->
    <!--                <div class="title">-->
    <!--                    <h2>Thuê phòng trọ</h2>-->
    <!--                </div>-->
    <!--                &lt;!&ndash;end title&ndash;&gt;-->
    <!--               <ul class="list-links">-->
    <!--                   <li><a href="#">Tenerife<span>23</span></a></li>-->
    <!--                   <li><a href="#">Al Madinah<span>12</span></a></li>-->
    <!--                   <li><a href="#">Koh Samui<span>76</span></a></li>-->
    <!--                   <li><a href="#">Cotswolds<span>52</span></a></li>-->

    <!--               </ul>-->
    <!--                &lt;!&ndash;end list-links&ndash;&gt;-->
    <!--            </div>-->
    <!--            &lt;!&ndash;end container&ndash;&gt;-->
    <!--        </div>-->
    <!--end block-->

    <div class="container">
        <div class="block">
            <div class="title">
                <h2>Reviews</h2>
                <div class="row" >
                    <div class="col-md-3 col-sm-3" th:each = "feedback : ${feedbacks}">
                        <div class="review-single">
                            <a href="" th:text = "${feedback.houseName}"><h3>White Doe Inn</h3></a>
                            <figure class="location" th:text = "${feedback.addressName+', '+feedback.wardName+', '+feedback.districtName+', '+feedback.provinceName}"></figure>
                            <div class="rating"><i class="fa fa-user" th:text = "${' '+feedback.lastName+' '+feedback.firstName}"></i></div>
                            <p th:text = "${feedback.content}">
                            </p>
                            <a href="housedetail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                        </div>

                        <!--end review-->
                    </div>
                    <!--end row-->

                </div>
                <!--end title-->
                <div class="bg color white"></div>
                <!--end row-->
            </div>
            <!--end container-->
            <!--end title-->
            <div class="bg color white"></div>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
<!--        <div class="row-one">-->
<!--            <div class="container">-->
<!--                <div class="logos">-->
<!--                    <div class="logo">-->
<!--                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
<!--                    <div class="logo">-->
<!--                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
<!--                    <div class="logo">-->
<!--                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
<!--                    <div class="logo">-->
<!--                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
<!--                    <div class="logo">-->
<!--                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;/ .logos&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="Homepage.html">Trang chủ</a>
                    <a href="about-us.html">Danh sách nhà trọ</a>
                    <a href="listing.html">Danh sách phòng trọ</a>
                    <a href="contact-us.html">Blog</a>
                </div>
    <!--end block-->
</div>
<!--end page-content-->

<footer id="page-footer">
    <!--        <div class="row-one">-->
    <!--            <div class="container">-->
    <!--                <div class="logos">-->
    <!--                    <div class="logo">-->
    <!--                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
    <!--                    <div class="logo">-->
    <!--                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
    <!--                    <div class="logo">-->
    <!--                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
    <!--                    <div class="logo">-->
    <!--                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
    <!--                    <div class="logo">-->
    <!--                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash;/ .logo&ndash;&gt;-->
    <!--                </div>-->
    <!--                &lt;!&ndash;/ .logos&ndash;&gt;-->
    <!--            </div>-->
    <!--        </div>-->
    <!--end row-one-->
    <div class="row-two clearfix">
        <div class="container">
            <div class="copyright pull-left">Room Finding System</div>
            <div class="footer-nav pull-right">
                <a href="Homepage.html">Trang chủ</a>
                <a href="about-us.html">Danh sách nhà trọ</a>
                <a href="listing.html">Danh sách phòng trọ</a>
                <a href="contact-us.html">Blog</a>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
        <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
    </div>
    <!--end row-two-->
</footer>
<!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="/assets/js/infobox.js"></script>
<script type="text/javascript" src="/assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="/assets/js/ie.js"></script>
<![endif]-->

<script>
    var _latitude = 21.013583;
    var _longitude = 105.526772;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>
</body>
