<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    <title>Accommodo - Accommodation HTML Template Full of Useful Features</title>

</head>

<body>
<div class="page-wrapper">
    <!--end page-header-->

            <!--end breadcrumb-->
            <div class="main-content">
                <div class="title">


                </div>
                <div class="my-items table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Danh sách trọ</th>
                            <th>Active</th>
                            <th>Like</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="my-item" th:each="house:${house}">
                            <td>
                                <div class="image-wrapper">
                                </div>
                                <div class="info">
                                    <a href="detail.html"><h2  th:text="${house.houseName}" style="display: block">Spring Hotel</h2></a>
                                    <figure class="label label-info" th:text="${house.getTypeHouse()}" >Hotel</figure>
                                    <figure class="location" th:text="${house.getService()}">Montenegro</figure>

                                    <div class="meta">
                                        <span><i class="fa fa-bed" ></i><h th:text="${house.getCount_room()}"></h></span>
                                        <span class="price-info">From <span class="price" th:text="${house.getPrice()}">$32</span><span class="appendix">/Tháng</span></span>
                                    </div>
                                    <!--end meta-->
                                </div>
                                <!--end info-->
                            </td>
                            <td class="views" th:text="${house.getLike()}">426</td>


                                <div class="edit-options">
                                    <a th:href = "@{/manager/edit/}+${house.houseID}" class="link icon"><i class="fa fa-edit"></i>Edit</a>
                                </div>
                                <div>
                                    <span  style="position: absolute;bottom:-42px;left: 180px;opacity: 0.4">Người cập nhật: <h th:text="${house.getLastModifiedBy_firstName()+' '+house.getLastModifiedBy_lastName()}"></h></span>
                                </div>
                                <!--end edit-options-->
                            </td>
                        </tr>
                        <!--end my-item-->


                        <!--end my-item-->
                        </tbody>
                    </table>
                </div>
                <!--end my-items-->
            </div>
            <!--end main-content-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="/assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->
</body>
