<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link th:href="@{/assets/fonts/font-awesome.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/fonts/elegant-fonts.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <title>Thông tin cá nhân</title>
    <style>
        @media (min-width: 1200px) {

            .profile-picture img {
                height: 270px;
            }
        }

        @media (min-width: 992px) and (max-width: 1200px) {

            .profile-picture img {
                height: 220px;
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {

            .profile-picture img {
                height: 165px;
            }
        }

        @media (max-width: 768px) {

            .profile-picture img {
                height: auto;
            }
        }
    </style>
</head>

<body>
<div class="page-wrapper">
    <div th:replace="~{header :: headerSection}"></div>
    <!--end page-header-->

    <div id="page-content">
        <br>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Thông tin cá nhân</li>
            </ol>
            <div class="main-content">
                <div class="title">
                    <h1><a href="#">Thông tin cá nhân</a></h1>
                </div>
                <!--end title-->
                <div class="row">
                    <form id="form-profile" class="labels-uppercase" method="post" action="#"
                          th:action="@{/user/update}" th:object="${user}" enctype="multipart/form-data">
                        <input type="hidden" id="userId" name="userId" th:field="*{userId}">
                        <input type="hidden" id="roleId" name="roleId" th:field="*{role}">
                        <input type="hidden" id="addressID" name="addressID" th:field="*{addressID}">
                        <div class="row">
                            <!--Profile Picture-->
                            <div class="col-md-3 col-sm-3">
                                <section>
                                    <div id="profile-picture" class="profile-picture single-file-preview">
                                        <img th:src="*{'https://storage.googleapis.com'+imageLink}" alt="" class="image">
                                        <div class="input">
                                            <input name="file" type="file" class="">
                                            <span>Chọn ảnh đại diện</span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--end col-md-3-->

                            <!--Contact Info-->
                            <div class="col-md-9 col-sm-9">
                                <section>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="firstName">Họ</label>
                                                <input type="text" class="form-control" id="firstName"
                                                       name="firstName"
                                                       pattern="^[a-zA-ZxyỳọáầảấờễàạằệếýộậốũứĩõúữịỗìềểẩớặòùồợãụủíỹắẫựỉỏừỷởóéửỵẳẹèẽổẵẻỡơôưăêâđÁÂĐ ]+$"
                                                       placeholder="Jane" th:value="*{firstName}" required>
                                                <small class="text-danger error-firstName"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Tên</label>
                                                <input type="text" class="form-control" id="lastName"
                                                       name="lastName"
                                                       pattern="^[a-zA-ZxyỳọáầảấờễàạằệếýộậốũứĩõúữịỗìềểẩớặòùồợãụủíỹắẫựỉỏừỷởóéửỵẳẹèẽổẵẻỡơôưăêâđÁÂĐ ]+$"
                                                       placeholder="Doe" th:value="*{lastName}" required>
                                                <small class="text-danger error-lastName"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="gender">Giới tính</label>
                                                <select class="form-control" id="gender" name="gender"
                                                        th:field="*{gender}">
                                                    <option value="MALE" th:selected="${user.gender == 'MALE'}">Nam
                                                    </option>
                                                    <option value="FEMALE" th:selected="${user.gender == 'FEMALE'}">
                                                        Nữ
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-md-6-->

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                       pattern="^\w+([\.]?\w+)*@\w+([\.]?\w+)*(\.\w{2,3})+$"
                                                       placeholder="janedoe@gmail.com" th:value="*{email}" readonly>
                                                <small class="text-danger error-email"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="phone" name="phone"
                                                       pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b"
                                                       placeholder="(0)123 456 7890"
                                                       th:value="*{phone}">
                                                <small class="text-danger error-phone"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="dob">Ngày sinh</label>
                                                <input style="height: 36px" type="date" class="form-control"
                                                       id="dob" name="dob"
                                                       placeholder="Enter your age (ex: 18)" th:value="*{dob}"
                                                       required
                                                       onchange="">
                                            </div>
                                        </div>
                                        <!--end col-md-6-->
                                    </div>
                                </section>
                                <section>
                                    <h3>Địa chỉ</h3>
                                    <div class="form-group">
                                        <label for="province">Tỉnh</label>
                                        <input type="hidden" id="provinceValue" th:value="${user.provinceId}">
                                        <select class="form-control" name="provinceId" id="province"
                                                th:field="*{provinceId}" th:style="${user.provinceId != 0} ? 'display:none' : ''">
                                            <option value="0" selected>Chọn Thành Phố</option>
                                        </select>
                                        <input class="form-control" th:if="${user.province!=null}" th:id="provinceName" th:field="*{province}">
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label for="district">Huyện</label>
                                        <select class="form-control" name="districtId" id="district"
                                                th:field="*{districtId}" th:style="${user.districtId != 0} ? 'display:none' : ''">
                                            <option value="0" selected>Chọn Quận/Huyện</option>
                                        </select>

                                        <input class="form-control" th:if="${user.district!=null}"  th:id="districtName" th:field="*{district}">
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label for="ward">Xã</label>
                                        <select class="form-control" name="wardId" id="ward"
                                                th:field="*{wardId}" th:style="${user.wardId != 0} ? 'display:none' : ''">
                                            <option value="0" selected>Chọn Xã/Phường</option>
                                        </select>
                                        <input class="form-control" th:if="${user.ward!=null}"  th:id="wardName" th:field="*{ward}">
                                    </div>
                                    <!--end col-md-3-->

                                    <div class="form-group">
                                        <label for="addressDetails">Địa chỉ chi tiết</label>
                                        <input type="text" class="form-control" id="addressDetails"
                                               name="addressDetails" th:value="*{addressDetails}">
                                    </div>
                                    <!--end form-group-->
                                </section>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-large btn-primary btn-rounded" id="submit">
                                        Lưu thay đổi
                                    </button>
                                </div>
                                <!-- end form-group -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </form>
                </div>
            </div>
            <!--end main-content-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->


    <div th:replace="~{footer :: footerSection}"></div>

    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<script type="text/javascript" th:src="@{/assets/js/jquery-2.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/icheck.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/owl.carousel.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/masonry.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/maps.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var provinceValue = document.getElementById('provinceValue').value;
    if(provinceValue!=="0"){
        document.getElementById('provinceName').addEventListener('click', () => {
            document.getElementById('province').style.display = "block";
            document.getElementById('district').style.display = "block";
            document.getElementById('ward').style.display = "block";
            document.getElementById('provinceName').style.display = "none";
            document.getElementById('districtName').style.display = "none";
            document.getElementById('wardName').style.display = "none";
        });
    }

        var citis = document.getElementById("province");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
        var promise = axios(Parameter);
        promise.then(function (result) {
        renderCity(result.data);
    });


        function renderCity(data) {
        for (const x of data) {
        citis.options[citis.options.length] = new Option(x.Name, x.Id);
    }
        citis.onchange = function () {
        district.length = 1;
        ward.length = 1;
        if (this.value != "") {
        const result = data.filter(n => n.Id === this.value);

        for (const k of result[0].Districts) {
        district.options[district.options.length] = new Option(k.Name, k.Id);
    }
    }
    };
        district.onchange = function () {
        ward.length = 1;
        const dataCity = data.filter((n) => n.Id === citis.value);
        if (this.value != "") {
        const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

        for (const w of dataWards) {
        wards.options[wards.options.length] = new Option(w.Name, w.Id);
    }
    }
    };
    }

    // Lấy phần tử input và small số đt
    const inputPhone = document.getElementById('phone');
    const errorPhone = inputPhone.nextElementSibling;

    // Sự kiện blur khỏi input
    inputPhone.addEventListener('blur', () => {

        // Nếu không thỏa mãn pattern
        if (!inputPhone.value.match(inputPhone.pattern)) {
            errorPhone.textContent = 'Số điện thoại gồm 10 số';
        } else {
            errorPhone.textContent = ''; // Clear message
        }
    });

    // Lấy phần tử input và small email
    const inputMail = document.getElementById('email');
    const errorMail = inputMail.nextElementSibling;

    // Sự kiện blur khỏi input
    inputMail.addEventListener('blur', () => {

        // Nếu không thỏa mãn pattern
        if (!inputMail.value.match(inputMail.pattern)) {
            errorMail.textContent = 'Email có dạng "manhhd@gmail.com"';
        } else {
            errorMail.textContent = ''; // Clear message
        }
    });

    // Lấy phần tử input và small firstName
    const inputFirstName = document.getElementById('firstName');
    const errorFirstName = inputFirstName.nextElementSibling;

    // Sự kiện blur khỏi input
    inputFirstName.addEventListener('blur', () => {

        // Nếu không thỏa mãn pattern
        if (!inputFirstName.value.match(inputFirstName.pattern)) {
            errorFirstName.textContent = 'tên không chứa số và kí tự đặc biệt';
        } else {
            errorFirstName.textContent = ''; // Clear message
        }
    });

    // Lấy phần tử input và small lastName
    const inputLastName = document.getElementById('lastName');
    const errorLastName = inputLastName.nextElementSibling;

    // Sự kiện blur khỏi input
    inputLastName.addEventListener('blur', () => {

        // Nếu không thỏa mãn pattern
        if (!inputLastName.value.match(inputLastName.pattern)) {
            errorLastName.textContent = 'tên không chứa số và kí tự đặc biệt';
        } else {
            errorLastName.textContent = ''; // Clear message
        }
    });

    document.getElementById("dob").addEventListener("change", function () {
        var dob = new Date(this.value);

        var today = new Date();

        var age = today.getFullYear() - dob.getFullYear();

        if (age >= 18) {
            document.querySelector('form').removeAttribute("onsubmit");
        } else {
            document.querySelector('form').setAttribute("onsubmit", "return false;");
            alert("You must be 18 or older to enter!");
        }
    });
</script>

</body>
