<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <title>Xem slider</title>

</head>

<body>
<div class="page-wrapper">
    <div id="page-header" th:replace="~{header :: headerSection}"></div>
    <!--end page-header-->

    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Trang chủ</a></li>
<!--                <li><a href="#">Listing</a></li>-->
                <li class="active">Xem slider</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-12">
                    <div class="main-content">
<!--                        <div class="title">-->
<!--                            <h1 ></h1>-->
<!--                        </div>-->
                        <!--end title-->
                        <article class="blog-post">
                            <a th:if="${slider.imgLink== null}"><img style="width: 100%" src="/assets/img/items/01_b.jpg"></a>
                            <a th:if="${slider.imgLink!= null}"><img style="width: 100%" th:src="${slider.imgLink}"></a>
                            <header><a th:href="@{/slider/}+${slider.sliderid}"><h2 th:text="${slider.title}"></h2></a></header>
                            <figure class="meta">
                                <a class="link-icon"><i class="fa fa-user"></i>Admin</a>
                                <a class="link-icon" th:if="${slider.createdDate!= null}">
                                    <i class="fa fa-calendar"></i>
                                    <span th:text="${slider.createdDate}"></span>
                                </a>
                                <a class="link-icon" th:if="${slider.createdDate == null}">
                                    <i class="fa fa-calendar"></i>

                                </a>
<!--                                <div class="tags">-->
<!--                                    <a href="#" class="tag article">Architecture</a>-->
<!--                                    <a href="#" class="tag article">Design</a>-->
<!--                                    <a href="#" class="tag article">Trend</a>-->
<!--                                </div>-->
                            </figure>
                            <p id="sliderContent" style="white-space: pre-line;" th:text="${slider.content}">
                            </p>
<!--                            <h3>Parahraph Headline</h3>-->
<!--                            <p>-->
<!--                                Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.-->
<!--                                Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget-->
<!--                                felis convallis fermentum et eu nulla. Donec sagittis sit amet erat non eleifend. Mauris at convallis-->
<!--                                magna. Quisque pellentesque id mauris vitae placerat. Mauris facilisis odio nec metus cursus commodo.-->
<!--                                Integer vel libero nunc. Donec ac lorem commodo, laoreet elit eget, tempus ante. Quisque eu nunc blandit-->
<!--                                erat rutrum feugiat ac sed arcu. In nisi risus, molestie a sem adipiscing, porta volutpat velit.-->
<!--                                Pellentesque nec felis sit amet nunc porta tincidunt sit amet et justo.-->
<!--                            </p>-->
<!--                            <h3>Audio Object</h3>-->
<!--                            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/71654970&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>-->

<!--                            <h4>List Headline</h4>-->
<!--                            <ul>-->
<!--                                <li>Phasellus metus ipsum, sollicitudin</li>-->
<!--                                <li>Quisque pellentesque id mauris</li>-->
<!--                                <li>Donec ac lorem commodo</li>-->
<!--                                <li>In nisi risus, molestie a sem adipiscing</li>-->
<!--                                <li>Pellentesque nec felis sit amet nunc</li>-->
<!--                            </ul>-->
                        </article><!-- /.blog-post-listing -->
<!--                        <section id="about-author">-->
<!--                            <header><h3>About the Author</h3></header>-->
<!--                            <div class="post-author">-->
<!--                                <img src="assets/img/person-01.jpg">-->
<!--                                <div class="wrapper">-->
<!--                                    <header>Maria Scott</header>-->
<!--                                    <p>Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.-->
<!--                                        Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </section>-->


                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
<!--                <div class="col-md-3">-->
<!--                    <div class="sidebar">-->
<!--                        <h2>Archive</h2>-->
<!--                        <ul class="links">-->
<!--                            <li><a href="#">January</a></li>-->
<!--                            <li><a href="#">February</a></li>-->
<!--                            <li><a href="#">April</a></li>-->
<!--                            <li><a href="#">March</a></li>-->
<!--                            <li><a href="#">July</a></li>-->
<!--                            <li><a href="#">September</a></li>-->
<!--                            <li><a href="#">October</a></li>-->
<!--                            <li><a href="#">December</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;end sidebar&ndash;&gt;-->
<!--                </div>-->
                <!--end col-md-3-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <div th:replace="~{footer :: footerSection}"></div>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="/assets/js/ie.js"></script>
<![endif]-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Lấy nội dung từ phần tử có ID là 'sliderContent'
        var contentElement = document.getElementById('sliderContent');
        var content = contentElement.innerText;

        // Tách nội dung thành từng dòng
        var lines = content.split('\n');

        // Xử lý từng dòng
        var processedContent = lines.map(function(line) {
            // Kiểm tra xem dòng có bắt đầu bằng số không
            if (/^\d+\./.test(line.trim())) {
                // Nếu có, bôi đen số đầu tiên bằng thẻ <strong>
                return '<strong>' + line + '</strong>';
            } else {
                // Nếu không, giữ nguyên dòng
                return line;
            }
        });

        // Gán nội dung đã xử lý vào phần tử HTML
        contentElement.innerHTML = processedContent.join('\n');
    });
</script>
</body>
