body {
    font-family: 'Arial', sans-serif;
}
.file-upload {
    position: relative;
    height: 100px;
    margin-bottom: 20px;
}
.file-upload .file-upload-input {
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 100px 0 0 0;
    overflow: hidden;
    z-index: 1;
}
.file-upload .file-upload-input:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.02);
}
.file-upload span {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 105px;
    width: 100%;
    text-align: center;
    margin: auto;
    z-index: 0;
    left: 0;
}

.file-upload-previews > .MultiFile-label {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: relative;
    margin-right: 10px;
}
.file-upload-previews span.MultiFile-label {
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
.file-upload-previews span.MultiFile-label .MultiFile-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.file-upload-previews span.MultiFile-label .MultiFile-preview {
    max-width: 200px !important;
    max-height: 150px !important;
}
.file-upload-previews .MultiFile-remove {
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    background-color: #ed2a21;

    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    z-index: 1;
}
